﻿/* AnythingZoomer */
.az-wrap, .az-small, .az-large {
	position: relative;
}
.az-wrap-inner {
	display: block;
	margin: 0 auto; /* center small & large content */
}
/* This wraps the large image and hides it */
.az-zoom {
	background: #fff;	
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	overflow: hidden;
	z-index: 1000;
	display: none;
	cursor:url(blank.png), url(blank.cur), none;
	/*border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	/*border: #333 1px solid;
	-moz-box-shadow: inset 0px 0px 4px #000;
	-webkit-box-shadow: inset 0px 0px 4px #000;
	box-shadow: inset 0px 0px 4px #000;*/
}
/* Class applied to az-mover when large image is windowed */
.az-windowed {
	overflow: hidden;
	position: absolute;
}
/* Class applied to az-mover when large image is fully shown */
.az-expanded {
	height: auto;
	width: auto;
	position: static;
	overflow: visible;
}

/* overlay small area */
.az-overlay {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	z-index: 101;
}

/* fade out small content when hovering
.az-hovered > * {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
*/

/* edit mode coordinate styling */
.az-coords {
	display: none; /* hidden when expanded */
}
.az-zoom .az-coords {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	background: rgba(0,0,0,0.5);
	color: #fff;
}
/* CODE HIGHLIGHTING */
.c-wrap										{ background: #f3a01e; }
.c-ovrly									{ background: #95421e; }
.c-small									{ background: #d05d2a; }
.c-large									{ background: #7c48b5; }
.c-zoom										{ background: #4b8db5; }
.c-commt									{ background: #9dc425; }
.c-commt2									{ color: #6b861a; }
span.cc										{ float: left; width: 10px; height: 14px; margin-right: 7px; }
code											{ line-height: 14px; }
ul												{ list-style: none; }

/* ZOOM CONTAINER */
.zoom										{ display: block; margin: 0 auto;}
.large										{ background: white; }
/* FOR IMAGE DEMO */
.small img								{ width: 300px; height: 300px; }
.large img								{ width: 600px; height: 600px; }