/* CSS Document */

#zoomgk table.altrowstable {
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #a9c6c9;
		border-collapse: collapse;
}
#zoomgk table.altrowstable tr {
		border-width: 1px;
		padding: 15px;
		border-style: solid;
		border-color: #a9c6c9;
}
#zoomgk table.altrowstable td {
		border-width: 1px;
		padding: 15px;
		border-style: solid;
		border-color: #a9c6c9;
		vertical-align: middle !important;
		clear: none;
    float: none;
    font-size: 12px;
    font-weight: bold;

}
.zoomgk_yes{
		background-image: url(../../../img/admin/enabled.gif);
		background-position: left !important;
		background-repeat: no-repeat;
}

input {
    vertical-align: middle;
}

img {
    vertical-align: middle;
}
/*.textcf{
	font-size: 14px;
	margin-left: 10px;
	color: #FFFFFF;
  font-family: "Museo";
  text-align: center;
  text-shadow: 0 0 10px #FFFFFF, 0 0 7px #FFFFFF, 0 0 12px #FFFFFF, 0 0 15px #FF00DE, 0 0 49px #FF00DE, 0 0 12px #FF00DE, 0 0 12px #FF00DE, 0 0 9px #FF00DE;
  text-transform: uppercase;
	vertical-align: middle;
}*/
.textcf{
		margin-left: 10px;
		color: #fff;
		text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
		font: 18px 'ChunkFiveRegular';
		text-transform: uppercase;
		vertical-align: middle;
}

.buttons a, .buttons button{
    display:block;
    
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}


/* ========================================================
   làm đẹp 
   ===================================================== */
.switch {
		position: relative !important;
		height: 26px;
		width: 126px;
		/*margin: 20px auto;*/
		background: rgba(0, 0, 0, 0.25);
		border-radius: 3px;
		-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
		position: relative !important;
		z-index: 2;
		float: left;
		width: 58px;
		line-height: 26px;
		font-size: 11px;
		color: rgba(255, 255, 255, 0.35);
		text-align: center;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
		cursor: pointer;
}
.switch-label:active {
  	font-weight: bold;
}

.switch-label-off {
  	padding-left: 2px;
}

.switch-label-on {
  	padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
 	 display: none;
}
.switch-input:checked + .switch-label {
		font-weight: bold;
		color: rgba(0, 0, 0, 0.65);
		text-shadow: 0 1px rgba(255, 255, 255, 0.25);
		-webkit-transition: 0.15s ease-out;
		-moz-transition: 0.15s ease-out;
		-ms-transition: 0.15s ease-out;
		-o-transition: 0.15s ease-out;
		transition: 0.15s ease-out;
		-webkit-transition-property: color, text-shadow;
		-moz-transition-property: color, text-shadow;
		-ms-transition-property: color, text-shadow;
		-o-transition-property: color, text-shadow;
		transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  	left: 60px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
		position: absolute !important;
		z-index: 1;
		top: 2px;
		left: 2px;
		display: block;
		width: 65px;
		height: 22px;
		border-radius: 3px;
		background-color: #65bd63;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dd993), color-stop(100%, #65bd63));
		background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
		background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
		background-image: -ms-linear-gradient(top, #9dd993, #65bd63);
		background-image: -o-linear-gradient(top, #9dd993, #65bd63);
		background-image: linear-gradient(top, #9dd993, #65bd63);
		-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
		-webkit-transition: left 0.15s ease-out;
		-moz-transition: left 0.15s ease-out;
		-ms-transition: left 0.15s ease-out;
		-o-transition: left 0.15s ease-out;
		transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
		background-color: #3aa2d0;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4fc9ee), color-stop(100%, #3aa2d0));
		background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
		background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
		background-image: -ms-linear-gradient(top, #4fc9ee, #3aa2d0);
		background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
		background-image: linear-gradient(top, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
		background-color: #c4bb61;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0dd94), color-stop(100%, #c4bb61));
		background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
		background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
		background-image: -ms-linear-gradient(top, #e0dd94, #c4bb61);
		background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
		background-image: linear-gradient(top, #e0dd94, #c4bb61);
}

.select_cf select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 12px;
	 height: 28px;
	 width: 125px;
}
#zoomgk {
	position: relative;
}
.gp-cf {
	 float: left;
	 left: 154px;
	 position: absolute;
	 top: 41px;
	 text-align: left;
}
.gp-cf li {
    list-style: none outside none;
}
.gp-cf ul a {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    display: block;
    font: 10px Verdana;
    margin: 1px 1px 1px 0;
    padding: 6px 10px;
    text-decoration: none !important;
}
.gp-cf ul a:hover {
    background: none repeat scroll 0 0 #111111;
    color: #FFFFFF;
}
.gp-cf ul a.selected {
    background: none repeat scroll 0 0 #BFE7E5;
    border-bottom: 1px solid snow;
    color: #000000;
    cursor: default;
    margin-bottom: 0;
}
