.img_v{
	max-width: 800px;
	max-height: 550px;
	vertical-align: middle;
	left: 0; top: 0;
	box-shadow: 0 2px 32px -5px rgba(116, 116, 116, 0.75);
	padding: 5px;
	border: solid 1px #EFEFEF;
}

#div1, #div2, #div3 {  
       visibility: hidden;
  }
.photobackground {
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	left: 0;
	overflow: hidden;
	right: 0;
	top: 0;
	width:1px;
	height: 1px;

}
	
/*Time for the CSS*/

.slider{
	width: 640px;
	position: relative;	
	padding-top: 220px;
	text-align: center;
	margin: 25px auto;
	/*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);*/
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	
	transition: all 0.5s;
}
.img_thb{
	left: 0;
	top: 0;
	width: 80;
	height: 60px;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails
	margin: 18px 0 0 18px;*/
	border: 3px solid #999;
	margin: 380px 0 0 5px;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/

/*We are done :)*/