#main_app{
	/* Page reset */
	margin:0px;
	padding:0px;
}

#main_app{
	/* The main container */
	margin:15px auto;
	text-align:center;
	width: 1200px;
	position:relative;
}

#main_app{
	/* Setting default text color, background and a font stack */
	color:#444444;
	font-size:13px;
	background: #f2f2f2;
	font-family:Arial, Helvetica, sans-serif;
}

/* Gallery styles */

#gallery_app{
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border:1px solid white;
	
	background:url(../img/panel.jpg) repeat-x bottom center #ffffff;
	
	/* The width of the gallery */
	width: 1200px;
	overflow:hidden;
}

#slides_app{
	/* This is the slide area */
	height:650px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width: 1200px;
	overflow:hidden;

}

.slide_app{
	float:left;
	width: 1200px;
	height:650px;

	display: table-cell;
    text-align: center;
    vertical-align: middle;

}

#menu_app{
	/* This is the container for the thumbnails */
	height:45px;
}

#menu_app ul{
	margin:0px;
	padding:0px;
}

#menu_app li{
	/* Every thumbnail is a li element */
	width:60px;
	display:inline-block;
	list-style:none;
	height:45px;
	overflow:hidden;
}

#menu_app li.inact:hover{
	/* The inactive state, highlighted on mouse over */
	background:url(../img/pic_bg.png) repeat;
}

#menu_app li.act,#menu_app li.act:hover{
	/* The active state of the thumb */
	background:url(../img/active_bg.png) no-repeat;
}

#menu_app li.act a{
	cursor:default;
}

.fbar_app{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px;
	background:url(../img/divider.png) no-repeat right;
}

#menu_app li a{
	display:block;
	background:url(../img/divider.png) no-repeat right;
	height:35px;
	padding-top:10px;
}

#menu_app a img{
	border:none;
}



