/* CSS Document */
/*
* Module name: gpviewer
* by GeekPolis.com 2011
*
* This slideshow module is allows easy set up of dynamic
* display of product's images
*
* @author prestashopgeek.com <webmaster@prestashopgeek.com>
* @copyright 2012 prestashopgeek.com
* @file zoomgeek.css
* @version Release: 1.4.x - 2.2
*/
#image-block:hover #gz_over{
		display : block;
	}
#gz_over {
	 display: none;
	 z-index: 1000;
	 position: absolute; 
	 /*top: 10px; 
	 left: 10px; */
	 top: 10px;
	 left: 10px;
	 color: white; 
	 background: white; /* fallback color */
	 padding: 0px; 
	 width: 34px;
	 height: 35px;   
}