@import '../../bourbon/bourbon';
@import '../../css/reset';

/*
 * Copyright (c) 2012 Thibaut Courouble
 * http://www.webinterfacelab.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

/* ========================================================
   Page
   ===================================================== */

$siteWidth: 400px;

body {
  color: #404040;
  font-family: 'Lucida Grande', Verdana, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  background: #3b3f46 url('../img/bg.png') 0 0 repeat;
}

.container {
  margin: 0 auto;
  padding: 90px 0;
  width: $siteWidth;
  @include radial-gradient(center, cover, rgba(255, 255, 255, .1), transparent);
}

/* ========================================================
   Switches
   ===================================================== */

$labelWidth: 58px;

.switch {
  position: relative;
  height: 26px;
  width: $labelWidth * 2 + 4px;
  margin: 20px auto;
  background: rgba(0, 0, 0, .25);
  border-radius: 3px;
  @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, .3),
                      0 1px rgba(255, 255, 255, .1));
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: $labelWidth;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, .35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .45);
  cursor: pointer;

  &:active { font-weight: bold; }
}

.switch-label-off { padding-left: 2px; }
.switch-label-on { padding-right: 2px; }

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */

.switch-input {
  display: none;

  &:checked + .switch-label {
    font-weight: bold;
    color: rgba(0, 0, 0, .65);
    text-shadow: 0 1px rgba(255, 255, 255, .25);
    @include transition(.15s ease-out);
    @include transition-property(color, text-shadow);
  }

  &:checked + .switch-label-on ~ .switch-selection {
    left: $labelWidth + 2px; /* Note: left: 50%; doesn't transition in WebKit */
  }
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: $labelWidth;
  height: 22px;
  border-radius: 3px;
  @include linear-gradient(top, #9dd993, #65bd63, $fallback: #65bd63);
  @include box-shadow(inset 0 1px rgba(255, 255, 255, .5),
                      0 0 2px rgba(0, 0, 0, .2));
  @include transition(left .15s ease-out);

  .switch-blue & { @include linear-gradient(top, #4fc9ee, #3aa2d0, $fallback: #3aa2d0); }
  .switch-yellow & { @include linear-gradient(top, #e0dd94, #c4bb61, $fallback: #c4bb61); }
}

/* ========================================================
   About
   ===================================================== */

.about {
  margin: 0 auto 80px;
  padding: 15px 20px;
  width: 300px;
  text-align: center;
  color: #aaa;
  text-shadow: 0 -1px rgba(0, 0, 0, .2);
  background: rgba(0, 0, 0, .1);
  border-radius: 3px;

  a {
    padding: 1px 3px;
    margin: 0 -1px;
    color: #fafafa;
    text-decoration: none;
    border-radius: 2px;

    &:hover {
      color: #111;
      text-shadow: none;
      background: #fafafa;
    }
  }
}

.links {
  @include clearfix;

  a {
    padding: 6px 0;
    float: left;
    width: 50%;
    font-size: 14px;
  }
}

.author {
  margin-top: 15px;
  font-size: 11px;
}
